asgiref==3.10.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.1.0
Django==5.2.7
django-allauth==65.13.1
django-cors-headers==4.9.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.11.0
